@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");

body {
  font-family: Poppins, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #1b1b1b;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
